<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nike Dunk SB</title>
    <link rel="stylesheet" href="css/nikeSB-nunk.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="aparecer-devagar">
                <h1>
                    A SUA MODA, O SEU SB DUNK!
                </h1>
            </div>
            <div class="menu-topo">
                <div class="seta-voltar">
                  <a href="index.html"><img src="imagens/img-produtos-geral/de-volta.png" alt=""></a>
                </div>
                <div class="logo"></div>
            </div>
            <div class="menu-geral">
                    <div class="box">
                        <img src="imagens/img-nikeSB-dunk/produto1.jpg" alt="" class="imagem">
                        <p class="img1">
                          Nike SB Dunk Low Pro PRM Casual Masculino 
                        </p>
                    </div>
                    <div class="box">
                        <img src="imagens/img-nikeSB-dunk/produto2.jpg" alt="" class="imagem">
                        <p class="img2">
                          Nike SB Dunk Low Pro 2 casual Masculino
                        </p>
                    </div>
                    <div class="box">
                        <img src="imagens/img-nikeSB-dunk/produto3.jpg" alt="" class="imagem">
                        <p class="img3">
                          Tênis Nike Dunk Low SE Bear Feminino
                        </p>
                    </div>
            </div>
            <div class="menu-final">
                <div class="box1">
                      <img src="imagens/img-nikeSB-dunk/produto4.jpg" alt="" class="imagem1">
                      <p class="imagem1">
                        Tênis Nike SB Dunk Low PRO SE Feminino
                    </p>
                </div>
                <div class="box1">
                    <img src="imagens/img-nikeSB-dunk/produto5.jpg" alt="" class="imagem1">
                    <p class="imagem2">
                      Tênis Nike Dunk High Retro Masculino
                    </p>
                </div>
                <div class="box1">
                    <img src="imagens/img-nikeSB-dunk/produto6.jpg" alt="" class="imagem1">
                    <p class="imagem3">
                      Tênis Nike SB Dunk High Decon Masculino
                    </p>
                </div>
        </div>
        </div>
    </header>
    <footer>
        <div class="footer-container">
          <div class="footer-item">
            <h5>Sobre a Nike</h5>
            <ul>
              <li><a href="#">Sobre nós</a></li>
              <li><a href="#">Notícias</a></li>
              <li><a href="#">Carreiras</a></li>
              <li><a href="#">Investidores</a></li>
              <li><a href="#">Responsabilidade social</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <h5>Compras e suporte</h5>
            <ul>
              <li><a href="#">Encontre uma loja</a></li>
              <li><a href="#">Perguntas frequentes</a></li>
              <li><a href="#">Tamanhos</a></li>
              <li><a href="#">Rastrear seu pedido</a></li>
              <li><a href="#">Devoluções e trocas</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <h5>Links úteis</h5>
            <ul>
              <li><a href="#">Entre em contato conosco</a></li>
              <li><a href="#">Mapa do site</a></li>
              <li><a href="#">Termos de uso</a></li>
              <li><a href="#">Política de privacidade</a></li>
              <li><a href="#">Cookies</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <h5>Siga a gente nas redes sociais</h5>
    
          </div>
        </div>
        <div class="line"></div>
        <div class="footer-terms">
          <div class="footer-terms-header">
            <p>&copy; 2023 Nike, Inc. Todos os direitos reservados.</p>
          </div>
          <div class="terms">
            <a href="#">Termos de uso</a>
    
            <a href="#">Política de privacidade</a>
    
            <a href="#">Cookies</a>
          </div>
        </div>
      </footer>
</body>
</html>