<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nike | Inicio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="css/style.css" />
  <link rel="shortcut icon" href="imagens/logo-site-removebg-preview.png" type="image/x-icon" />
</head>

<body>
  <header>
    <!-- cabeçalho do site-->

    <div class="container">
      <div class="menu-topo">
        <div class="logo"></div>

        <nav class="desktop">
          <!--barra de navegação-->

          <ul>
            <!--criando a lista-->

            <li><a href="">Sobre</a></li>
            <li><a href="">Modelos novos</a></li>
            <li><a href="">Fale Conosco</a></li>
            <li class="btn-orcamento"><a href="">Lançamentos</a></li>
            <!-- nessa parte o btn foi usado para criar o botão -->
          </ul>
          <!--criando a lista-->
        </nav>
        <!--barra de navegação Desktop-->

        <!-- MOBILE -->

        <!-- barra de navegação Mobile -->
        <nav class="mobile">
          <ul>
            <li><a href="">Sobre</a></li>
            <li><a href="">Modelos novos</a></li>
            <li><a href="">Fale Conosco</a></li>
            <li class="btn-orcamento"><a href="">Lançamentos</a></li>
          </ul>
        </nav><!-- barra de navegação Mobile -->
        

      </div>
      <!--menu-topo-->

      <div class="Chamada-nike">
        <!-- -->

        <h2>Encontre a sua moda<span>Faça do seu jeito!</span></h2>

        <!-- Formulario abaixo-->
        <!--form é a tag principal do HTML5, o atributo action espera os parametros que vem do back-end-->
        <form action="">
          <!-- Iniciando o form -->

          <div class="form__container">
            <img src="imagens/simbolo_nike-removebg-preview.png" alt="" /><!-- Logo da area de login -->
            <p>SUA CONTA PARA TUDO DA <span>NIKE</span></p>

            <input type="email" placeholder="Insira o seu email" /><!-- Definindo o campo email -->
            <input type="password" name="" id="" placeholder="Insira sua senha" />
            <input type="submit" value="Entrar" />
          </div>
        </form>
        <!-- Formulario -->
      </div>
    </div>
    <!--container-->
  </header>
  <!-- cabeçalho do site-->

  <section class="sessao01">
    <!-- Primeira Sessão -->

    <div class="container">
      <div class="anuncio-produto">
        <h3>VOANDO NAS QUADRAS, ALCANÇANDO SEUS PÉS</h3>
        <p>
          Há 35 anos o Air Jordan está entre os sneakers mais desejados e
          vendidos do mundo. Afinal, ele não é um tênis comum e sim uma lenda,
          assim como o esportista que deu nome à linha mais famosa da Nike,
          Michael Jordan, o maior jogador de basquete de todos os tempos
        </p>

        <img src="imagens/terceira imagem.png" />
      </div>

      <div class="clear"></div>
    </div>
  </section>
  <!-- Primeira Sessão -->

  <section class="sessaoprincipal">
    <div class="imgprincipal">
      <a href="produtos-geral.html"><img src="imagens/imagem - principal.jpg" alt=""></a>
      <h2 class="txtprincipal">
        Encontre a sua Moda!
      </h2>
      <div class="btn-produtos">
        <a href="produtos-geral.html"><input type="button" value="ACESSAR" class="btn-produtos"></a>
      </div>
    </div>
  </section>

  <section class="carrosel">
    <div class="imagens">
      <div class="imagem">
        <img src="imagens/Carrosel imagem 01.png" />
        <h3 class="titulo">O Queridinhos dos Rolês!</h3>
        <p class="informacoes-tenis">
          O Nike Air Force vem impressionando a todos com seu designer
          surpreendente e qualidade de quebrar a concorrência. tenis pica
          que eu vou comprar eu acho
        </p>
        <h3 class="promocao">APROVEITE NOSSA PROMOÇÂO</h3>
        <h2 class="preco-tenis">R$ 299,90</h2>
        <div class="batata">
          <a href="home-air-force.html"><input class="comprar-button" type="submit" value="Ver Produto" /></a>
        </div>
      </div>

      <div class="imagem">
        <img src="imagens/carrosel imagem tenis.png" />
        <h3 class="titulo">Os famosos dos Skates!</h3>
        <p class="informacoes-tenis">
          O Nike SB é o tênis preferido para os Skatistas, uma sola
          resistente e um "Grip" dos Deuses, você vai se sentir o próprio
          Tony Hawks!
        </p>
        <h3 class="promocao">APROVEITE NOSSA PROMOÇÂO</h3>
        <h2 class="preco-tenis">R$ 179,90</h2>
        <div class="batata">
          <a href="home-nikeSB-dunk.html"><input class="comprar-button" type="submit" value="Ver Produto" /></a>
        </div>
      </div>
      <div class="imagem">
        <img src="imagens/imagem tenis carrosel 3.png" />
        <h3 class="titulo">O Tênis ideal para a resenha!</h3>
        <p class="informacoes-tenis">
          Feito especialmente para combinar com todos os conjuntos de
          roupas, o Nike Air inova em classe e luxo, ostentendo o maximo de
          sua beleza.
        </p>
        <h3 class="promocao">APROVEITE NOSSA PROMOÇÂO</h3>
        <h2 class="preco-tenis">R$ 459,90</h2>
        <div class="batata">
          <a href="nike-air.html"><input class="comprar-button" type="submit" value="Ver Produto" /></a>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section class="sessao02">
    <!-- segunda sessão -->
    <div class="container">
      <div class="feedback">
        <p>
          "Desde pequeno meu sonho de infância era ser famoso e ter
          reconhecimento poder lançar um tênis junto a Nike, é simplesmente
          memorável! Os impactos mesmo após anos do lançaento dessa parceria
          me fazem ser gratos até os dias de hoje" ~Michael Jordan.
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <!-- segunda sessão -->

  <section class="sessao03">
    <!-- Terceira sessão  -->

    <div class="carrosels">
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NK1_EjVjxp0" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-container">
      <div class="footer-item">
        <h5>Sobre a Nike</h5>
        <ul>
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Notícias</a></li>
          <li><a href="#">Carreiras</a></li>
          <li><a href="#">Investidores</a></li>
          <li><a href="#">Responsabilidade social</a></li>
        </ul>
      </div>
      <div class="footer-item">
        <h5>Compras e suporte</h5>
        <ul>
          <li><a href="#">Encontre uma loja</a></li>
          <li><a href="#">Perguntas frequentes</a></li>
          <li><a href="#">Tamanhos</a></li>
          <li><a href="#">Rastrear seu pedido</a></li>
          <li><a href="#">Devoluções e trocas</a></li>
        </ul>
      </div>
      <div class="footer-item">
        <h5>Links úteis</h5>
        <ul>
          <li><a href="#">Entre em contato conosco</a></li>
          <li><a href="#">Mapa do site</a></li>
          <li><a href="#">Termos de uso</a></li>
          <li><a href="#">Política de privacidade</a></li>
          <li><a href="#">Cookies</a></li>
        </ul>
      </div>
      <div class="footer-item">
        <h5>Siga a gente nas redes sociais</h5>

      </div>
    </div>
    <div class="line"></div>
    <div class="footer-terms">
      <div class="footer-terms-header">
        <p>&copy; 2023 Nike, Inc. Todos os direitos reservados.</p>
      </div>
      <div class="terms">
        <a href="#">Termos de uso</a>

        <a href="#">Política de privacidade</a>

        <a href="#">Cookies</a>
      </div>
    </div>
  </footer>
</body>

</html>